#main {
  .radio-button-area {
    margin-top: 100px;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiFormGroup-root {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .react-multi-carousel-list {
    height: 400px;
    padding: 0 10px;
  }

  .react-multiple-carousel__arrow {
    top: 50px;
  }
}
